// Heading Color
$heading: #444444;

// Text Color
$text: #757575;

// Background
$bg-dark: #313131;
$bg2-dark: #292929;

// White Color
$white: #ffffff;

// Dark Color
$dark: #444444;

// Border Color
$border: #fff;

// Hover Color
$hover: #009688;
