// Footer Start 
footer.footer-area
    .main-footer-area.pt-50.pb-50
        .container
            .row.h-100
                .col-xl-3.col-md-6.col-sm-12
                    h4 Recent News
                    .media.mt-4
                        img(src="img/latest/1.png", alt="Icon", draggable="false")
                        .media-body
                            p A Clean Website Gives More Experience To The Visitors
                            p.small-text Mar 20-2020
                    .media.mt-4
                        img(src="img/latest/2.png", alt="Icon", draggable="false")
                        .media-body
                            p A Clean Website Gives More Experience To The Visitors
                            p.small-text Mar 20-2020
                    .media.mt-4
                        img(src="img/latest/1.png", alt="Icon", draggable="false")
                        .media-body
                            p A Clean Website Gives More Experience To The Visitors
                            p.small-text Mar 20-2020
                .col-xl-3.col-md-6.col-sm-12
                    h4 Useful Links
                    .row.mt-3
                        .col-sm-6.footer-nav
                            ul.nav.flex-column
                                li.nav-item
                                    a.nav-link(href="#") Web Design
                                li.nav-item
                                    a.nav-link(href="#") About Firm
                                li.nav-item
                                    a.nav-link(href="#") Mobile
                                li.nav-item
                                    a.nav-link(href="#") Why Finance
                                li.nav-item
                                    a.nav-link(href="#")  Social Media
                                li.nav-item
                                    a.nav-link(href="#") Site Map 
                        .col-sm-6.footer-nav
                            ul.nav.flex-column
                                li.nav-item
                                    a.nav-link(href="#") Comapny
                                li.nav-item
                                    a.nav-link(href="#") Latest Jobs
                                li.nav-item
                                    a.nav-link(href="#") Partners
                                li.nav-item
                                    a.nav-link(href="#") Blog Posts
                                li.nav-item
                                    a.nav-link(href="#") Help Topics
                                li.nav-item
                                    a.nav-link(href="#") Policies
                .col-xl-3.col-md-6.col-sm-12
                    h4 Mailing List
                    p.mt-3 Sign up for our mailing list to get latest updates and offers. 
                    form.mt-3 
                        .form-row
                            .col-10
                                input(type="email" class="form-control mb-2" placeholder="Email Address" name="email" required="")
                            .col-2
                                button.btn.btn-info(type="submit")
                                    i.fa.fa-check
                    p.mt-3 We respect your privacy
                    .footer-social.mt-4
                        ul.nav.social
                            li.nav-item.twitter
                                a.nav-link(href="#")
                                    i.fa.fa-twitter
                            li.nav-item.google
                                a.nav-link(href="#")
                                    i.fa.fa-google-plus
                            li.nav-item.facebook
                                a.nav-link(href="#")
                                    i.fa.fa-facebook-f
                            li.nav-item.linkedin
                                a.nav-link(href="#")
                                    i.fa.fa-linkedin
                            li.nav-item.youtube
                                a.nav-link(href="#")
                                    i.fa.fa-youtube
                            li.nav-item.instagram
                                a.nav-link(href="#")
                                    i.fa.fa-instagram
                .col-xl-3.col-md-6.col-sm-12
                    h4 About Finance
                    .about.mt-3
                        p.border-bottom finance Website Builder is a big library of pre-designed web elements which help you create website in few minutes.
                        span.icons.border-bottom
                            .row
                                .col-1
                                    i.fa.fa-envelope
                                .col-10.p-0.pl-2
                                    p hello@finance.com
                        span.icons.border-bottom
                            .row
                                .col-1
                                    i.fa.fa-phone
                                .col-10.p-0.pl-2
                                    p P : 1234-4556-678
                        span.icons.border-bottom
                            .row
                                .col-1
                                    i.fa.fa-map-marker
                                .col-10.p-0.pl-2
                                    p 12/4 Barnard St - Suite 888 
                                    p United Kingdom - GA 32323 
    // Copywrite Text
    .copywrite-text
        .container
            // Link back to can't be removed. Template is licensed under.
            p
                | Copyright ©
                script.
                    document.write(new Date().getFullYear());
                |  All rights reserved | This template is made with 
                i.fa.fa-heart-o
                |  by 
                a(href='https://www.facebook.com/hamada.elasmer.14', target='_blank') Hamada-Elasmer
