// Header Area Start 
header.header-area
    .main-header-area
        .classy-nav-container.breakpoint-off
            .container
                // Classy Menu Start 
                nav.classy-navbar.justify-content-between#finalNav
                    // Logo Start 
                    a.nav-brand(href="index.html") Financial
                    // Navbar Toggler Start 
                    .classy-navbar-toggler
                        .navbarToggler
                            span
                            span
                            span
                    // Menu Start 
                    .classy-menu
                        // Menu Close Button 
                        .classycloseIcon
                            .cross-wrap
                                span.top
                                span.bottom
                        // Nav Start 
                        .classynav
                            ul#nav
                                li.active
                                    a(href="index.html") Home
                                li
                                    a(href="#") Demos
                                    ul.dropdown
                                        li
                                            a(href="#") - Home
                                        li
                                            a(href="#") - About Us
                                        li
                                            a(href="#") - Services
                                        li
                                            a(href="#") - Portfolio
                                        li
                                            a(href="#") - Blog
                                            ul.dropdown
                                                li
                                                    a(href="#") - Dropdown Item
                                                li
                                                    a(href="#") - Dropdown Item
                                                li
                                                    a(href="#") - Dropdown Item
                                                li
                                                    a(href="#") - Dropdown Item
                                        li
                                            a(href="#") - Blog Details
                                            ul.dropdown
                                                li
                                                    a(href="#") - Dropdown Item
                                                li
                                                    a(href="#") - Dropdown Item
                                                li
                                                    a(href="#") - Dropdown Item
                                                li
                                                    a(href="#") - Dropdown Item
                                        li
                                            a(href="#") - Contact
                                        li
                                            a(href="#") - Dropdown
                                            ul.dropdown
                                                li
                                                    a(href="#") - Dropdown Item
                                                li
                                                    a(href="#") - Dropdown Item
                                                li
                                                    a(href="#") - Dropdown Item
                                                li
                                                    a(href="#") - Dropdown Item
                                li
                                    a(href="#") Porfolio
                                li
                                    a(href="#") Blog
                                li
                                    a(href="#") Short codes
                                li
                                    a(href="#") Contact