// Main Navbar Start 
header.header-area
    .main-header-area
        nav.navbar.navbar-expand-lg.navbar-dark
            .container
                a.navbar-brand(href='#') Financial
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#finalNav', aria-controls='finalNav', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #finalNav.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto
                        li.nav-item.active
                            a.nav-link(href='index.html') Home
                        li.nav-item
                            a.nav-link(href='#') Demos
                        li.nav-item
                            a.nav-link(href='#') Porfolio
                        li.nav-item
                            a.nav-link(href='#') Blog
                        li.nav-item
                            a.nav-link(href='#') Short codes
                        li.nav-item
                            a.nav-link(href='#') Contact


