<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title Finance - Business HTML5 Template"

        link(rel="stylesheet", href="css/default-theme.css")
    body
        include components/preloader
        
        include components/navbar
        include layout/welcome-area
        include layout/services
        include layout/our-company
        include layout/banner
        include layout/core-serviecs
        include layout/offer
        include components/footer
        // Jqury , Bootstarp & Main Bundle
        script(src="js/jquery.min.js")
        script(src="js/bootstrap.min.js")
        script(src="js/financial.bundle.js")
