// Banner Start 
section.banner.bg-img.section-padding-80.text-center
    .container
        .row.h-100
            .col-12.col-md-12.col-lg-12
                h1.wow.fadeInUp(data-delay="400ms") Experts are behind everything we do.
                p.wow.fadeInUp(data-delay="600ms") Finance theme is created based on the most business trends to empower your website with everything you need to establish your corporate, start-up, or even personal website.
                a.btn.fin-btn.mr-5.wow.fadeInUp(href="#", data-delay="800ms") Read More
                a.btn.fin-btn.bg-transparent.border-white.wow.fadeInUp(href="#", data-delay="900ms") Contact us