// Core Service Start 
section.core-service.bg-img.section-padding-80
    .core-services-content.text-center
        h2.wow.fadeInUp(data-delay="100ms")  Our Core Services
        p.wow.fadeInUp(data-delay="200ms")  With these values, we embrace our mission to bring each client the best service.
    .container
        .row.h-100
            .col-lg-4.col-md-6.col-sm-12
                .services-content-icon.wow.fadeInUp(data-delay="400ms") 
                    .media
                        img(src="img/icons/home.png", alt="Icon", draggable="false")
                        .media-body
                            h5.mt-0 Audit and Assurance
                            |  Coordinates for abs po oordinates for abs potioning the closest potioned Coor tiom lorem dinates.
            .col-lg-4.col-md-6.col-sm-12
                .services-content-icon.wow.fadeInUp(data-delay="500ms") 
                    .media
                        img(src="img/icons/book.png", alt="Icon", draggable="false")
                        .media-body
                            h5.mt-0 IT Control Solutions
                            |  Coordinates for abs po oordinates for abs potioning the closest potioned Coor tiom lorem dinates.
            .col-lg-4.col-md-6.col-sm-12
                .services-content-icon.wow.fadeInUp(data-delay="600ms") 
                        .media
                            img(src="img/icons/bag.png", alt="Icon", draggable="false")
                            .media-body
                                h5.mt-0 Business Services
                                |  Coordinates for abs po oordinates for abs potioning the closest potioned Coor tiom lorem dinates.
            .col-lg-4.col-md-6.col-sm-12
                .services-content-icon.wow.fadeInUp(data-delay="700ms") 
                    .media
                        img(src="img/icons/lamb.png", alt="Icon", draggable="false")
                        .media-body
                            h5.mt-0 Year-End Tax Planning
                            |   Coordinates for abs po oordinates for abs potioning the closest potioned Coor tiom lorem dinates.
            .col-lg-4.col-md-6.col-sm-12
                .services-content-icon.wow.fadeInUp(data-delay="800ms") 
                    .media
                        img(src="img/icons/line.png", alt="Icon", draggable="false")
                        .media-body
                            h5.mt-0 Financial Planning
                            |   Coordinates for abs po oordinates for abs potioning the closest potioned Coor tiom lorem dinates.
            .col-lg-4.col-md-6.col-sm-12
                .services-content-icon.wow.fadeInUp(data-delay="900ms") 
                    .media
                        img(src="img/icons/mizan.png", alt="Icon", draggable="false")
                        .media-body
                            h5.mt-0 Tax Advisory Services
                            |   Coordinates for abs po oordinates for abs potioning the closest potioned Coor tiom lorem dinates.