// Offer Star 
section.offer
    .container
        .offer-content.text-center
            h2.wow.fadeInUp(data-delay="100ms")  We Offer Different Services
            p.wow.fadeInUp(data-delay="200ms")  With these values, we embrace our mission to bring each client the best service.
        // First Slide Start 
        .row
            .col-lg-4.col-md-6.col-sm-12
                .offer-content-cell
                    img.wow.fadeInUp(data-delay="400ms", src="img/offer/1.png", alt="Offer", draggable="false")
                    .offer-content-info.wow.fadeInUp(data-delay="500ms") 
                        h4 Financial planning
                        h6 Great Experts
                        p True financial planning is a comprehensive, ongoing approach that starts with helping you define your dreams.
            .col-lg-4.col-md-6.col-sm-12
                .offer-content-cell
                    img.wow.fadeInUp(data-delay="600ms", src="img/offer/2.png", alt="Offer", draggable="false")
                    .offer-content-info.wow.fadeInUp(data-delay="700ms") 
                        h4 Stocks
                        h6 Great Experts
                        p True financial planning is a comprehensive, ongoing approach that starts with helping you define your dreams.
            .col-lg-4.col-md-6.col-sm-12
                .offer-content-cell
                    img.wow.fadeInUp(data-delay="900ms", src="img/offer/3.png", alt="Offer", draggable="false")
                    .offer-content-info.wow.fadeInUp(data-delay="1000ms") 
                        h4 Cash, cards & lending
                        h6 Great Experts
                        p True financial planning is a comprehensive, ongoing approach that starts with helping you define your dreams.
            // Secande Slide Start 
            .col-lg-4.col-md-6.col-sm-12
                .offer-content-cell
                    img.wow.fadeInUp(data-delay="1200ms", src="img/offer/4.png", alt="Offer", draggable="false")
                    .offer-content-info.wow.fadeInUp(data-delay="1300ms") 
                        h4 Investments
                        h6 Great Experts
                        p True financial planning is a comprehensive, ongoing approach that starts with helping you define your dreams.
            .col-lg-4.col-md-6.col-sm-12
                .offer-content-cell
                    img.wow.fadeInUp(data-delay="1500ms", src="img/offer/5.png", alt="Offer", draggable="false")
                    .offer-content-info.wow.fadeInUp(data-delay="1600ms") 
                        h4 Personal trust services
                        h6 Great Experts
                        p True financial planning is a comprehensive, ongoing approach that starts with helping you define your dreams.
            .col-lg-4.col-md-6.col-sm-12
                .offer-content-cell
                    img.wow.fadeInUp(data-delay="1800ms",src="img/offer/6.png", alt="Offer", draggable="false")
                    .offer-content-info.wow.fadeInUp(data-delay="1900ms") 
                        h4 Insurance & annuities
                        h6 Great Experts
                        p True financial planning is a comprehensive, ongoing approach that starts with helping you define your dreams.
