// Our Company Start 
section.our-company.section-padding-80-0
    .container
        .row.h-100
            .col-md-4
                .company-img.wow.fadeInUp(data-delay="400ms")
                    img(src="img/our-comapny.png", alt="")
            .col-xs-12.col-md-8
                h2.wow.fadeInUp(data-delay="600ms") Our Company Values 
                p.wow.fadeInUp(data-delay="800ms") With any financial product that you buy, it is important that you know you are getting the best advice from a reputable company as often you will have to provide sensitive information online or over the internet, so it’s important that you can trust the people who are dealing with your personal information.
                .our-company-content.h-100.wow.fadeInUp(data-delay="1000ms")
                    .our-company-start
                        h5 99%
                        p  The third Monday of January is supposed to be the most depressing day of the year.
                    .our-company-middle
                        h5 Company Value
                        p Tools and calculators
                    .our-company-end
                        p It can help you stay on top of your bills and save £1,000s each year.
                    .our-company-end-left
                        p Taking the time to manage your money better can really pay off.
