// Services Start 
section.services-area
    .container
        .row.h-100.align-items-center
            .col-lg-4.col-md-12.col-sm-12.p-0
                .services-content-active
                    img.h-100.w-100(src="img/services.jpg", alt="Services")
                    .overlay
                        h2.wow.fadeInUp(data-delay="800ms") DON’T SEE WHAT YOU ARE LOOKING FOR?
                        p.wow.fadeInUp(data-delay="1000ms") Use our Budget planner to keep on top of your spending, use our tool to work out what you have left after paying your most important bills.
                        a.wow.fadeInUp.btn.fin-btn(href="#", data-delay="1200ms") Read More
                            i.fa.fa-arrow-right.btn-icon
            .col-lg-4.col-md-12.col-sm-12.p-0
                .services-content
                    .services-content-icon.wow.fadeInUp(data-delay="1400ms")
                        .media
                            img(src="img/icons/home-s.png", alt="Icon", draggable="false")
                            .media-body
                                h5.mt-0 Financial Experts 
                                |  Coordinates for abs po oordinates for abs pot
                    .services-content-icon.mt-80.wow.fadeInUp(data-delay="1400ms")
                        .media
                            img(src="img/icons/bars.png", alt="Icon", draggable="false")
                            .media-body
                                h5.mt-0 Creative Process
                                |  Coordinates for abs po oordinates for abs pot
            .col-lg-4.col-md-12.col-sm-12.p-0
                .services-content
                    .services-content-icon.wow.fadeInUp(data-delay="1400ms")
                        .media
                            img(src="img/icons/lib.png", alt="Icon", draggable="false")
                            .media-body
                                h5.mt-0 Business Solution
                                |  Coordinates for abs po oordinates for abs pot
                    .services-content-icon.mt-80.wow.fadeInUp(data-delay="1400ms")
                        .media
                            img(src="img/icons/lamb.png", alt="Icon", draggable="false")
                            .media-body
                                h5.mt-0 Financial Experts 
                                |  Coordinates for abs po oordinates for abs pot
