// Welcome Area Start 
section.welcome-area
        .welcome-slides.owl-carousel
            // Single Welcome Slide
            .single-welcome-slide.bg-img
                img(src="img/hero/1.jpg", alt="slide")
                .overlay
                    // welcome Content 
                    .welcome-content.h-100
                        .container.h-100
                            .row.h-100.justify-content-end
                                // Welcome Text 
                                .col-12.col-md-9.col-lg-6
                                    .welcome-text
                                        h5(data-animation="fadeInUp" data-delay="100ms")
                                            | The Future of Digital Products Together.
                                        h2.text-capitalize(data-animation="fadeInUp" data-delay="200ms")
                                            | we provide  
                                        h2.text-capitalize(data-animation="fadeInUp" data-delay="300ms")
                                            | financial planning
                                        p.text-white(data-animation="fadeInUp" data-delay="500ms")
                                            | Coordinates for abs potioning the closest positioned parent box of the positioned abs qoning the closes for abs potioning the closest positioned parent b ting that ments that.
                                        a.btn.fin-btn(data-animation="fadeInUp" data-delay="700ms") Learn more
                                            i.fa.fa-arrow-right.btn-icon
            // Single Welcome Slide
            .single-welcome-slide.bg-img
                img(src="img/hero/2.jpg", alt="slide")
                .overlay
                    // welcome Content 
                    .welcome-content.h-100
                        .container.h-100
                            .row.h-100.justify-content-end
                                // Welcome Text 
                                .col-12.col-md-9.col-lg-6
                                    .welcome-text
                                        h5(data-animation="fadeInUp" data-delay="100ms")
                                            | The Future of Digital Products Together.
                                        h2.text-capitalize(data-animation="fadeInUp" data-delay="200ms")
                                            | we provide  
                                        h2.text-capitalize(data-animation="fadeInUp" data-delay="300ms")
                                            | financial planning
                                        p.text-white(data-animation="fadeInUp" data-delay="400ms")
                                            | Coordinates for abs potioning the closest positioned parent box of the positioned abs qoning the closes for abs potioning the closest positioned parent b ting that ments that.
                                        a.btn.fin-btn(data-animation="fadeInUp" data-delay="700ms") Learn more
                                            i.fa.fa-arrow-right.btn-icon